header {
    background-color: var(--header-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 50px;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1100px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    height: 100%;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li a.active {
    background-color: black;
    color: white;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.search-button {
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0 8px 16px gray;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
    display: block;
}