main {
    max-width: var(--max-width);
    margin: auto;
    padding: 0;
}

.hero {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 80px 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 20px;
}

.hero h1 {
    font-size: 4rem;
    font-weight: normal;
    color: #adff2f;
}

.hero p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #adff2f;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background-color: #286090;
}

.collaboration {
    text-align: center;
    padding: 40px 20px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-bottom: 120px;
}

.collaboration h2 {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.collaboration span {
    display: inline-block;
    margin-left: 10px;
    font-weight: lighter;
    color: #777777;
    font-size: 1.4rem;
}

.collaboration p {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: lighter;
    color: #777777;
    font-size: 1rem;
}

.content-blocks {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.content-block {
    width: 350px;
    height: 300px;
    text-align: center;
}

.content-block img {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.content-block a {
    font-size: 1.4rem;
    font-weight: normal;
    color: #337ab7;
    margin: 10px 0 5px;
    text-decoration: none;
}

.content-block a:hover {
    color: #23527c;
    text-decoration: underline;
    cursor: pointer;
}

.content-block p {
    font-size: 1rem;
    font-weight: lighter;
    color: #777777;
    margin-top: 10px;
}

.features {
    background-color: var(--secondary-color);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.feature {
    text-align: center;
    width: 30%;
    max-width: 400px;
}

.feature .icon {
    background-color: #ddd;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 50%;
}

.feature .icon img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.feature h3 {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 10px;
}

.feature button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.feature button:hover {
    background-color: lightgrey;
}

@media (max-width: 800px) {
    .content-blocks, .features {
        flex-direction: column;
        align-items: center;
    }

    .content-block, .feature {
        width: 100%;
        margin: 10px 0;
    }
}